body {
  font-family: 'Roboto', sans-serif;
}

.number-display {
  font-size: 2.25rem;
  margin: 20px 0;
  padding: 20px;
  background-color: #343a40;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#numberList li {
  font-size: 2rem;
  margin: 5px 0;
  background-color: #495057;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


